{% extends 'base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}

    <div class="row">


        <div class="col-lg-9">
        <br>

            <div class="row">

                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="card h-100">

                        <a href="{{ product.get_absolute_url }}">
                            <img class="card-img-top"
                                 src="{% if product.image %}{{ product.image.url }}{% else %}{% static "static/image/no_image.png" %}{% endif %}">
                        </a>
                        <div class="card-body">

                            <h1>{{ product.name }}</h1>
                            <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
                            <p class="price">${{ product.price }}</p>
                            {{ product.description|linebreaks }}
                        </div>
                    </div>

                </div>


            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
{% endblock content %}